.cc-choose-city-icon {
  transition: all .3s linear;
}

.cc-choose-city-rotate {
  transform: rotate(180deg);
}

.cc-choose-city-city,
.cc-choose-city-province {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cc-choose-city-chat {
  padding: 3px 6px;
  margin-right: 8px;
  border: 1px solid #eee;
  margin-bottom: 8px;
  cursor: pointer;
}
.cc-choose-city-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cc-choose-city-name-item {
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}
